body {background-color:pink;}

h1{color:grey;
	font-family: Verdana, 
	Geneva, Tahoma, 
	sans-serif;
}
 
.mydiv{
    background-color: white;
    color: black;
    width: 600px;
    padding: 30px;
    border-radius: 25px;
    margin: auto;
	margin-top: 40px;
}
.indiv{
    margin: auto;
	margin-left: 40px;
}
.h1{
	margin-top: 5px;
	padding:2px;
	
}

.s1,.s3{
	margin-left:15px;
}

.s2{
	margin-left:40px;
}
